# --- AWS S3(minio) ---
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ENDPOINT=

# --- PostgreSQL do ERP fictício ---
ERP_POSTGRES_HOST=
ERP_POSTGRES_PORT=
ERP_POSTGRES_DB=
ERP_POSTGRES_USER=
ERP_POSTGRES_PASSWORD=


# --- PostgreSQL do Datawarehouse --- 
POSTGRES_USER_DW=
POSTGRES_PASSWORD_DW=
POSTGRES_DW=

# --- PgAdmin ---
PGADMIN_EMAIL =     
PGADMIN_PASSWORD =  